<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
       <!--contact section starts here-->
        <div class="contact-section">
            <div class="contact-header">
                <h1>Get In Touch</h1>
            </div>
            <div class="contact-content">
        <!--Contact form-->
                <div class="contact-form">
                    <form action="">
                        <label for="">Name</label>
                        <input type="text" placeholder="Enter Your Name">
                        <label for="">Email</label>
                        <input type="email" placeholder="Enter Your Email">
                        <label for="">Message</label>
                        <textarea name="" placeholder="Leave your message here..."></textarea>
                        <button>Send Message</button>
                    </form>
                 </div>
        <!--contact info-->
                <div class="contact-text">
                    <h3>Contact Information</h3>
                    <ul>
                        <li><img src="images/message.jpg" alt="">bhammarkarpriyanka@gmail.com</li>
                        <li><img src="images/phone.jpg" alt="">+91 6264070107</li>
                        <li><img src="images/location.jpg" alt="">Bhopal, India</li>
                    </ul>
                    <div class="connect-me">
                        <p>Connect With Me</p>
                        <ul>
                            <li><a href="#"><img src="images/github.jpg" alt=""></a></li>
                            <li><a href="#"><img src="images/linkedin_new.jpg" alt=""></a></li>
                            <li><a href="#"><img src="images/twitter_new.jpg" alt=""></a></li>
                            <li><a href="#"><img src="images/devops.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>